.news-feed .lazy-load-image-loaded {
    width: 100%;
}

.news-feed {
    /* margin-top: 32px; */
    margin-bottom: 32px;
}

.news-feed .slick-dots {
    position: absolute;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    right: 0;
}
.news-feed .slick-slide {
    /* padding: 0 1rem; */
}
.black{
    color:var(--primary-color) !important;
}
.flex-box-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-box-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media screen and (max-width: 1200px) {
    .community .white_monoBlock_title{
        font-size: 3.125rem;
    }
}
@media screen and (max-width: 992px) {
    .community .white_monoBlock_title{
        font-size: 2.125rem;
    }
}
@media screen and (max-width: 992px){
    .community .white_monoBlock_title {
        font-size: 1.125rem;
    }
}