.summary {
    padding-bottom: 96px;
    position: relative;
}
.img_float{
    position: absolute;
    right: 0%;
}
.summary .nav {
    justify-content: center;
    border: 0;
    /*padding: 75px 0;*/
    margin-top: 75px;
}

.summary .nav-tabs .nav-link {
    color: #BDBDBD;
    border: 0;
    border-bottom: 2px solid #BDBDBD;
    margin: 0;
    padding-bottom: 16px;

}

.summary .nav-item .tab-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.summary .nav-tabs .nav-link:hover {
    border: 0;
    transform: none;
    border-bottom: 1px solid #BDBDBD;
}

.summary .nav-tabs .nav-link .active {
    color: var(--primary-color);
}

.summary .nav-tabs .nav-link.active {
    color: var(--primary-color);
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    margin: 0;

}

.check-circle svg {
    width: 16px;
    height: 16px;
}

.step-label {
    color: var(--primary-color);
    font-family: Couture;
    font-size: var(--font-size-58);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 120%; 
    margin: 80px 0 80px 0;
}

.head-box-summary h2 {
    color: #000;
    font-family: Couture;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.summary-bg {
    background: #FFF;
    padding: 37px 49px;
}

.head-box-summary span {
    color: #BDBDBD;
    font-family: Couture;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 27.6px */
    margin-top: 34px;

}

.list-details {
    list-style: none;
    padding: 0
}
a{
    cursor: pointer;
}
.my-32{
    margin-top: 32px;
    margin-bottom: 32px;
}
.service_price{
    color: var(--Primary-1, #000);
    font-family: var(--questrial-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0 27px 32px;
}
.list-details li {
    color: var(--primary-color);
    font-family: var(--questrial-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    margin-bottom: 49px;
    display: flex;
    align-items: center;
}
.list-details li:last-child {
    margin-bottom: 0;
}
.list-details img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    margin-left: 48px;
}

.terms {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 36px;
}

.step-one {
    display: flex;
    justify-content: center;
    margin: 42px auto;
}

.payment-bg {
    background: #FFF;
    padding: 37px 49px;
    max-width: 733px;
    height: 420px;
    margin: auto;
}

.form-payment {
    margin: 42px 0;
}

.form-payment .method-payment {
    margin-bottom: 42px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 24px;

}

.form-payment .form-check {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.form-payment .form-check-input[type="radio"] {
    border-color: #000;
    margin: 0;
    padding: 0;
    margin-right: 42px;
    cursor: pointer;
}

.form-payment .form-check-input:checked {
    background-color: #000;
}

.form-payment .form-check-input:focus {
    border-color: none;
    box-shadow: none;
}

.form-payment .form-check-label {
    color: #000;
    font-family: Questrial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    margin-left: 32px;
}

.form-payment img {
    width: 48px;
    height: 48px;
}


.order-summary {
    padding: 37px 49px;
    background-color: #fff;
}

.order-summary-black {
    padding: 37px 49px;
    background-color: #000;
    color: #fff;
}

.order-details h2 {
    color: var(--primary-color);
    font-family: Couture;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.order-details .date-period {
    color: var(--primary-color);
    font-family: Questrial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}

.order-details .invoice {
    color: var(--primary-color);
    font-family: Questrial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.9%;
}

.order-details .location {
    color: var(--primary-color);
    text-align: right;
    font-family: Questrial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    width: 130px;
}

.order-description {
    margin-top: 24px;
}

.order-description .line {
    border-bottom: 1px solid #000;
    padding: 8px 0;
}

.order-description .item-box {
    margin-top: 28px;
}

.pill {
    min-height: 300px;
}

.order-description .item-name {
    color: var(--primary-color);
    font-family: Couture;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 14.4px */
}

.order-description .item-price {
    color: var(--primary-color);
    text-align: center;
    font-family: Questrial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 15.6px */
}

.order-description .item-total, .item-total-price {
    color: var(--primary-color);
    text-align: right;
    font-family: Couture;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 14.4px */
}

.order-summary-black h2 {
    color: #fff;
}

.order-summary-black .booking-items {
    margin-top: 32px;
}

.order-summary-black .booking-items span {
    display: block;
    margin-bottom: 24px;
    font-family: Questrial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.order-details .line {
    border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1024px) {
    .summary-bg {
        padding: 20px;
    }
}
@media screen and (max-width: 992px) {
    .summary-bg .border-right {
        border-right: none;
        border-bottom: 1.5px solid var(--secondary-color2);
    }
}
@media screen and (max-width: 768px) {
    .summary-bg .border-right{
        border: 0px solid transparent;
    }
}
@media screen and (max-width: 575.5px) {
    .summary-bg{
        padding: 37px 25px;
    }
    .payment-bg {
        padding: 35px 25px;
    }
    .summary  img{
        display: none;
    }
    .step-label {
        font-size: 30px;
    }
    .change_dir{
        flex-direction: column;
    }
    .counter-container {
        width: 320px;
        left: -50%;
    }
    .counter-container > span {
        margin-right: 30px;
    }
    
}
@media screen and (max-width: 425px) {
    .head-box-summary h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    .counter-container {
        width: 260px;
    }
}